<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система заметок с тегами</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <header class="header">
        <h1>Notes&Tegs</h1>
        <nav>
            <a href="#">Главная</a>
            <a href="#">О нас</a>
        </nav>
        <button class="begin">Начать</button>
    </header>

    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main>
        <section>
            <h2>Notes&Tags -- это возможность записывать любую информацию с возможностью поиска, благодоря тегирированию! </h2>
            <p>это возможность записывать любую информацию с возможностью поиска, благодоря тегирированию!</p>
        </section> <div>
            
        </div>
    </main>

    <footer>
        <p>&copy; 2026 Название компании. Все права защищены.</p>
    </footer>

    
</body>
</html>