<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система заметок с тегами - Manrope</title>

    <!-- Подключение шрифта Manrope -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--header-->
    <header class="header">
        <nav>
            <button class="main-page"><a href="index.html"><h1>Notes&Tegs</h1></a></button>
        
        </nav>

        <div class="header-actions">
            <button id="themeToggle" class="theme-btn">🌙</button>
            
                <button id="goButton" class="go-btn" onclick="window.location.href='pages2.html'">Начать</button>
                
        </div>
    </header>

    <main>
        <!-- info section-->
        <section class="info">
            <h2>Перестаньте держать все в голове с помощью Notes&Tegs!</h2>
            <p>Notes&Tegs — это инструмент который поможет перенести все идеи и планы из головы в удобный электронный формат.</p>
        </section>  
        
        <div class="heading-wrapper">
            <h2 class="heading">возможности заметок с тегами</h2>
        </div>
        
        <section id="ability">
            <div class="card-info">
                <div class="card-icon">🔍</div>
                <h3>Быстрый поиск всего по теме</h3>
                <p>Тег работает как кнопка «показать всё на эту тему</p>
            </div>

            <div class="card-info">
                <div class="card-icon">📌</div>
                <h3>Одна заметка — в двух местах сразу</h3>
                <p>Теги позволяют не дублировать заметку, а просто привязать её к разным разделам</p>
            </div>
            
            <div class="card-info">
                <div class="card-icon">⏰</div>
                <h3>Не забыть важное</h3>
                <p>Тег выделяет срочные дела и собирает их в одном списке</p>
            </div>
            
            <div class="card-info">
                <div class="card-icon">💼</div>
                <h3>Отделить работу от личного</h3>
                <p>С помощью тегов можно хранить всё вместе, но смотреть по отдельности</p>
            </div>
        </section>
    </main>

    <!-- footer section-->
    <footer class="footer">
        <p>&copy; 2026 Notes&Tegs. Все права защищены.</p>
    </footer>

    <script src="darktheme.js"></script>
</body>
</html>