<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система заметок с тегами</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <header class="header">
        
        <nav>
            <h1>Notes&Tegs</h1>
            <a href="#">Главная</a>
            <a href="#"></a>
        </nav>
        <button>Начать</button>
    </header>

    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main>
        <div>
            <p></p>
        </div>
        <section>
            <h2>Перестаньте держать все в голове с помощью Notes&Tegs!</h2>
            <p>Notes&Tegs — это инструмент который поможет перенести все идеи и планы из головы в удобный электронный формат.</p>
        </section>
        <button>к заметкам</button>
        
        <section>
            <div>
                <section>
                    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolores dignissimos cupiditate assumenda? Deserunt cumque optio expedita ipsum sequi iure, itaque et. Ipsa ab ducimus blanditiis iusto dignissimos doloremque fugiat.</h2>
                    <div>
                        <h3>1</h3>
                        <p>jdeknk</p>
                    </div>

                    <div>
                        <h3>2</h3>
                        <p>jdeknk</p>
                    </div>
                    
                    <div>
                        <h3>3</h3>
                        <p>jdeknk</p>
                    </div>
                    
                    <div>
                        <h3>4</h3>
                        <p>jdeknk</p>
                    </div>
                </section>
            </div>
        </section>

    








    </main>









    <footer>
        <p>&copy; 2026 Название компании. Все права защищены.</p>
    </footer>
    

    
</body>
</html>